.rate-comp {
    display: flex;
    justify-content: space-between;
    width: 98px;
    height: 18px;
    margin-top: 24px;

    @media screen and (min-width: 1440px) {
        width: 196px;
        height: 36px;
    }
}

.rate-container {
    display: flex;
    align-items: flex-start;
}

.gris{
    color: gray;
}

.orange{
    color: red;
}

.star {
    width: 15px;
    height: 15px;

    @media screen and (min-width: 1440px) {
        width: 30px;
        height: 30px;
    }
}


//////


.star {
    height: 23px;
    width: 23px;
}
    
.stars {
    margin-top: 14px;
}

@media screen and (min-width: 768px) {
    .stars {
        width: 196px;
        height: 36px;
    }
    .star {
        height: 30px;
        margin: 0 7px 0 0;
        width: 30px;
    }
}