.apropos {
	min-height: 90vh;
}

@media screen and (max-width: 376px) {
    .apropos {
        margin: 0 20px 0 20px;
    }
}

@media screen and (min-width: 377px) {
	.apropos_values {
		margin: 0px 20px 0px 20px;
	}
}

@media screen and (min-width: 768px) {
    .apropos {
		margin: auto;
    }	
    .apropos_values {
        transform: translateY(-14px);
    }
}