.collapse {
    width: 100%;
}

.collapse_visible {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	background: #ff6060;
	z-index: 100;
    position: relative;
	cursor: pointer;
	padding: 0px 11.8px 0 20px;
}

.collapse_visible_title {
	font-weight: 500;
}

.collapse_chevron {
	transition: all 0.4s ease-in-out;
	width: 13px;
}

.collapse_toggle {
    font-size: 12px;
    font-weight: 300;
	color: #ff6060;
	background: #f7f7f7;
    opacity: 0;
    transition: opacity 200ms ease-in;
	transform: translateY(-10px);
	border-radius: 10px;
}

.collapse_content {
    margin: 0;
    padding: 15px;
    pointer-events: none;
	line-height: 17.11px;
}
	
.rotate {
	transform: rotate(180deg);
}

.animated {
	opacity: 1;
	transition: height 500ms ease-in, opacity 300ms ease-in;
}

.collapse_toggle_content > p {
	padding: 30px 12px 53px 20px;
    background-color: #f6f6f6;
    border-radius: 10px;
}

.collapse_toggle_content > ul {
	padding: 30px 12px 53px 20px;
    background-color: #f6f6f6;
	list-style: none;
	border-radius: 0 0 10px 10px;
}

.apropos .collapse_visible {
	border-radius: 5px;
}

.apropos .collapse_toggle {
	border-radius: 5px;
}

.apropos .collapse_toggle {
	max-width: 1023px;
	height: 146px;
	margin: 0 auto;
}

.apropos .collapse_toggle_content > p {
	padding: 36px 27px 19px 18px;
}

@media screen and (max-width: 376px) {
	.collapse {
		margin-top: 20.07px;
	}
    .collapse_visible {
		height: 29.83px;
		border-radius: 10px;
    }
	.collapse_visible_title {
		font-size: 13px;
	}
	.collapse_toggle_content > ul {
		padding: 23.02px 6.91px 1.3px 11.51px;
		line-height: 17.11px;
	}
	.collapse_toggle_content > p {
		padding: 23.02px 6.91px 1.3px 11.51px;
		line-height: 17.11px;
	}
	.apropos .collapse_toggle_content > p {
		padding: 23.08px 6.91px 11.51px;
	}
	.apropos .collapse {
		transform: translateY(-1.07px);
	}
	.apropos .collapse_visible {
		height: 30px;
	}
	.apropos .collapse_visible h2 {
		font-size: 13px;
	}
	.apropos .collapse_visible img,
	.collapse_visible img {
		height: 8.98px;
		width: 15.2px;	
	}
	.apropos .collapse_toggle {
		width: 335px;
		height: 143.65px;
	}
	.apropos .animated  {
		background-color: white;
		width: 100%;
	}
}

@media screen and (min-width: 377px) {
	.collapse_visible {
    	border-radius: 10px;
    	height: 35px;
	}
	.collapse {
    	margin-top: 31px;
	}
}

@media screen and (min-width: 768px) {
    .collapse_visible {
        border-radius: 10px;
		height: 52px;
		margin: 0 auto;
    }
    .collapse_visible_title {
        font-size: 18px;
	}
	.collapse_chevron {
	    width: 25px;
    }
    .collapse_toggle_content {
	    font-size: 18px;
	    line-height: 25.67px;
	    text-align: justify;
    }
	.apropos .collapse_visible_title {
		font-size: 24px;
	}
}

.apropos .collapse_visible {
    border-radius: 5px;
	max-height: 47px;
	max-width: 1023px;
	margin: 0 auto;
}
