.container {
	margin: 0 auto;
	height: 415px;
	width: 1240px;
	position: relative;
}

.carrousel {
	position: relative;
}

.carrousel_navigation {
	display: flex;
	align-items: center;
	bottom: 0;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
}

.carrousel_img {
    height: 225px;
    object-fit: cover;
    user-select: none;
    width: 100%;
	border-radius: 25px;
}

.carrousel_legend {
    color: white;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
	bottom: 24.92px;
	font-size: 18px;
}

.hide-img {
	display: none;
}

.chevron {
    cursor: pointer;
    height: 79.2px;
    width: 46.68px;
	margin: 0 23.36px 0;
}

@media screen and (max-width: 376px) {
	.container {
		width: 100%;;
		height: 255px;
	}
	.chevron {
		width: 11.67px;
		height: 19.8px;
		margin: 0 5.84px 0
	}
	.carrousel {
		width: 100%;
	}
	
	.carrousel_legend {
		display: none;
	}
	.carrousel_img {
		border-radius: 10px;
	}
}

@media screen and (min-width: 376px){
	.container {
		width: 100%;
		height: 255px;
	}
	.chevron {
		width: 20px;
		height: 30px;
		margin: 0 10px 0;
	}
	.carrousel {
		width: 100%;
	}
	
	.carrousel_img {
		border-radius: 10px;
	}
}

@media screen and (min-width: 768px){
	.container {
		height: 415px;
	}
	.chevron {
		height: 50px;
		width: 30px;
		margin: 0 18px 0;
	}
	.carrousel_img {
		height: 415px;
	}
}

@media screen and (min-width: 992px){
	.carrousel_img {
		height: 415px;
	}
	.chevron {
		cursor: pointer;
		height: 79.2px;
		width: 46.68px;
		margin: 0 23.36px 0;
	}
}